<template>
  <v-layout>
    <v-flex xs12>
      <v-form ref="form" v-model="valid">
    <v-text-field v-model="residency.name" label="Nombre" :rules="nameRule" required></v-text-field>
        <v-text-field
      v-model="residency.address"
      label="Dirección"
    ></v-text-field>
        <v-text-field
      v-model="residency.phone"
      label="Celular"
    ></v-text-field>
        <v-text-field
          v-model="residency.mail"
          label="Correo"
        ></v-text-field>

        <v-text-field
      v-model="residency.number"
      label="Numero"
      :rules="numberRule"
      required
    ></v-text-field>

        <v-text-field
      v-model="residency.description"
      label="Descripcion"
      multi-line
    ></v-text-field>
        <!--<v-text-field-->
      <!--v-model="residency.image"-->
      <!--label="Imagen"-->
    <!--&gt;</v-text-field>-->

    <v-btn @click="submit">submit</v-btn>
    <v-btn @click="clear">clear</v-btn>
  </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
//  import API from '@/lib/API'

    export default {
        props: ['residency', 'onSubmit'],
        data() {
            return{
                valid:true,
                nameRule:[(name) => {
                    if (name.trim() === '') return'no tiene titulo';
                    return true
                }],
                imageRule:[(image) => {
                  if (image.trim() === '') return'No hay imagen tiene titulo';
                  return true
                }],
    //              numberRule:[(number) =>{
    //                  if (isNaN(number)) return'Diego es el numero mas'
    //                  if (Number(number)<=0) return'el numero es muy grande'
    //                  return true
    //              }]
            }
        },
        methods:{
            submit(){
                if (this.valid){
                    this.onSubmit();
                }
            },
            clear(){
              this.$refs.form.reset();
            },
        },
    }
</script>

<style scoped>

</style>
