<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout>
          <v-flex text-xs-center>
            <v-card class="elevation-200" >
              <v-toolbar dark color="primary">
                <center>
                <v-toolbar-title >Ingrese su datos Correctos</v-toolbar-title></center>
                <v-spacer></v-spacer>
              </v-toolbar>
           <v-form ref="form" v-model="valid">
              <v-card-text>
                  <v-form>
                    <v-spacer></v-spacer> 
                  <v-text-field v-model="residencia" prepend-icon="person" name="login" label="Login" type="text" :rules="nameRule" required autofocus></v-text-field> 
                  <v-text-field v-model="va" id="password" prepend-icon="lock" name="password" label="Password" type="password" :rules="nameRule" required ></v-text-field>
                  </v-form>
              </v-card-text>
              <v-card-actions>
                <v-flex text-xs-center>
                <v-btn color="info" @click="clear">Clear</v-btn>
                <v-btn color="success" to="/residencia" @click="submit">Entrar</v-btn>
                </v-flex>
              </v-card-actions>
              <br>
                <v-spacer>                                              
                    <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
                    <!-- Twitter -->
                    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
                </v-spacer>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
        props: ['residencia', 'onSubmit'],
        data() {
            return{
                valid:true,
                nameRule:[(name) => {
                    if (name.trim() === '') return'Olvido su usuario?';
                    return true
                }],
           }
        },
        methods:{
            submit(){
                if (this.valid){
                    this.onSubmit();
                }
            },
            clear(){
              this.$refs.form.reset();
            },
        },
    }
</script>
<style scoped>

</style>
