<template>
<section class="content">
<div class="row center-block">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap" id="Habitaciones">
          <div class="row">
            <div class="box-body no-padding table-responsive">
              <table aria-describedby="Room" role="grid" id="Habitaciones" class="table table-bordered table-striped dataTable">  
                <thead>
                  <tr role="row">
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Color</th>
                    <th>Persona MAx</th>
                    <th>Numero</th>
                    <th>Imagen</th>
                    <th>Tamaño</th>
                    <th>Estado</th>
                    <th>Tipo Habitacion</th>
                    <th>Piso</th>
                    <th>Muebles</th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="Habitaciones of Room">
                        <th>{{Habitaciones.name}}</th>
                        <th>{{Habitaciones.description}}</th>
                        <th>{{Habitaciones.color}}</th>
                        <th>{{Habitaciones.maximum_people}}</th>
                        <th>{{Habitaciones.number}}</th>
                        <img v-bind:src="Habitaciones.image" width="70" height="50"/>
                        <th>{{Habitaciones.dimensions}}</th>
                        <th>{{Habitaciones.state}}</th>
                        <th>{{Habitaciones.type_room.nombre}}</th>
                        <th>{{Habitaciones.floor}}</th>
                        <th>{{Habitaciones.furniture}}</th>
                        <button class="btn btn-danger" @click="deleteResidency(Residency)"> X</button>
                        <button class="btn btn-success">EDIT</button>
                        <p>{{Habitaciones.body}}</p>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</template>
<script>
import axios from 'axios'
export default {
  data() {
    return {
      Room: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
    axios.get('http://localhost:8000/api/configuration/room/')
    .then(response => {
      // JSON responses are automatically parsed.
      this.Room= response.data
    })
    .catch(e => {
      this.errors.push(e)
    })

    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
    //   this.posts = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  }

}
</script>

<style>
</style>