<template lang="html">
  <ResidenciaForm :residency="residency" :onSubmit="submit"></ResidenciaForm>
</template>

<script>
  import API from '@/lib/API'
  import ResidenciaForm from '@/components/configuracion/Forms/ResidenciaForm';

  export default {
      components: {
        ResidenciaForm
      },
      data() {
          return{
              residency: {
                  name:'',
                  address:'',
                  phone:'',
                  mail:'',
                  number:0,
                  description:'',
              }
          }
      },
      methods:{
        submit(){
          API.createResidencia(this.residency)
            .then(({ id }) => {
              this.$router.push({
                name: 'ResidenciaView',
                params:{
                  id
                }
              })
            })
          }
        },
  }
</script>


<style lang="css">

</style>
