<template lang="html">
  <ResidenciaForm :residency="residency" :onSubmit="submit"></ResidenciaForm>
</template>

<script>
  import API from '@/lib/API'
  import ResidenciaForm from '@/components/configuracion/Forms/ResidenciaForm';

  export default {
      components: {
        ResidenciaForm
      },
      data() {
          return{
              residency: {
                name:'',
                address:'',
                phone:'',
                mail:'',
                number:0,
                description:'',
              }
          }
      },
      mounted(){
        const { id } = this.$route.params;
        this.load( id )
      },

      methods:{
        load(id) {
          API.getResidenciaView(id)
            .then((residency)=> {
              this.residency = residency;
              console.log(this.residency)
            })
        },


        submit(){
          API.updateResidencia(this.residency.id, this.residency)
            .then(() => {
              this.$router.push({
                name: 'ResidenciaView',
                params:{
                  id: this.residency.id,
                }
              })
            })
          }
        },
  }
</script>


<style lang="css">

</style>
