
<template>

    <v-layout row wrap>
  <v-flex xs12>
    <div class="text-xs-center">
    <v-btn
      :to="{
        name:'Create'
      }"
      outline
      large fab color="red accent-3">
      <v-icon>add</v-icon>
    </v-btn>
    </div>
  </v-flex>
    <v-flex xs4 v-for="residencia in residencias" :key="residencia.id">
      <v-card>
        <v-card-media :src="residencia.image" height="200px">
        </v-card-media>
    <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{residencia.name}}</h3>
            <div>{{residencia.description}}</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn
            :to="{
              name: 'ResidenciaView',
              params:{
                id: residencia.id
              }
            }"
            flat
            color="orange">ver mas</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
      <v-flex xs12>
  </v-flex>
  </v-layout>
</template>

<script>
  import API from '@/lib/API'
    export default {
      data(){
        return{
          residencias: {},
        }
      },
      mounted(){
          this.load();
      },
      methods:{
          load(){
            API.getResidencia()
              .then((residencias) => {
                this.residencias = residencias;
                console.log(this.residencias)
            });
          }
      }
    }
</script>

<style scoped>

</style>
